*{
    box-sizing: border-box;
    margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
   
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2.0em;}
p{ font-size: 1.25em;}


button{
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 1opx rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(11, 38, 46);
}

 button:hover{
    background-color: rgb(140, 187, 196);
 }

.container{
    max-width:1600px;
    margin: auto;
    text-align: center;
 } 

 

 .color-acento  {
    color:rgb(8, 43, 65);
    
 }

 header{
    background-color: rgb(228, 238, 241);
    position: fixed;
    width: 100%;
 }

 header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #171631;
    font-size: 1.6em;
    text-align: center;
 }
 
 header nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px;

 }

 header a:hover {
    display: inline;
 }



 header .container{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
 }

 header a{
     padding: 5px 12px;
     text-decoration: none;
     font-weight: bold;
     color:black;
     
     
     
 }

 header a:hover{
    color: #383083;
    
    
 }



 .card-container {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.card {
    
    width: calc(33.333% - 2rem);
    margin: 1rem;
    background-color: #bfd3ec;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 4px rgb(0, 0, 0, 0.1);
}

.card-figure {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    
    padding: 5px 12px;
}

.card-title {
    
    font-size: 1em;
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: 1rem;
    line-height: 1.5;
} 



    #Biografia .container{
        text-align: center;
        padding: 200px 100px;
        
        
    }

    #ArteJapones .container    {
        background-color: rgba(30,30,30);
        color: white;
        text-align: left;
    }

    #Pinturas .container{
        padding: 150px 12px;
          
        
    }

    #Pinturas h2{
        margin-top: 0;
        font-size: 2.2em;
        text-align: center;
        padding: auto;  }

       
    #ArteJapones .imgl-container{
        float:center;
        margin-left: 25px;
        overflow: hidden;
    }

   


    figure{
     float: right;
     margin-left: 25px;
     overflow: hidden;
    }

 


    #ArteJapones .texto  {
        text-align: center;
    }
#ArteJapones image{
    float: right;
    margin-left: 2px;
    overflow: hidden;
}
    #ArteJapones p{
     text-align: left;
     font-size: 1.5rem;
     line-height: 1.5;
    }

    .line{
    height: 1px;
    margin: 1em 0;
    overflow: hidden;
    }

    article .line{
        background-color: rgb(3, 97, 97);
    }

    h2 .lineheight{
        height: 1px;
    margin: 1em 0;
    overflow: hidden;
    }
    

#ArteJapones .container{
  text-align:center;
  padding: 90px 12px;
  display: flex;
  justify-content:center;
  align-items: center;
    
}



#LaNocheEstrellada{
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    color: white;
    background-color: rgba(30,30,30);
              
}

#LaNocheEstrellada button{
   font-size: 1.75em;
}
footer{
  background-color: #FFCC66(140, 187, 196)  }
  

footer p{
    margin: 0;
    padding: 12px;
 color: 
 rgb(11, 38, 46);
}

footer .container {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    height: 150px;
   

}


#Biografia .container{
    display: flex;
    justify-content: left;

}


#Biografia .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content:left ;
 }

#Biografia .video-container{
    justify-content:right ;
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 50%;
}

#Biografia h2{
    margin-top: opx;
}






.title {
    
    font-size: 3em;
    margin-bottom: 1.5rem;
}

.image-grid {
   
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
   
}

.image {
    width: 25%;
    height: auto;
    justify-content: space-between;
}




